/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

/* Estilos del header */
header {
  text-align: center; /* Centra el contenido dentro del header */
  margin-bottom: 30px;
}

/* Contenedor principal */
.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
}

/* Encabezado */
h1 {
  font-size: 2.5rem;
  color: #0073b1;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Botón */
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0073b1;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn:hover {
  background-color: #005983;
}

/* Secciones */
.section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

p,
ol {
  font-size: 1.1rem;
  color: #555;
}

/* Grid para tecnologías */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.tech-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.tech-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0073b1;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #888;
}
